html {
  background-color: rgb(184, 184, 184);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  background-color: rgb(74, 142, 206);

  box-shadow: 1px 1px 1px black, -1px 1px 1px black;

  margin: 0rem auto;
  padding: 0rem 2rem;
  gap: 1rem;
}

p {
  background-color: rgb(110, 204, 211);
  border-radius: 10px;
  padding: 1px;
}

.button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  margin: 2rem 0rem;
}

.response_item {
  width: 600px;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid black;
}

.response_area {
  white-space: pre;

  height: 200px;
  width: 400px;

  border-radius: 10px;
  overflow: auto;
}
.response_area-wrapper {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;

  background-color: #f9f9f9;

  margin: 1rem 0rem;
  display: inline-block;

  box-shadow: 2px 2px 2px black;
}
#button-canada {
  background-color: rgb(216, 31, 31);
  color: white;
  border-color: white;
  border-radius: 10px;
  height: 40px;
  width: 100px;
}

#button-brazil {
  background-color: green;
  color: yellow;
  border-color: yellow;
  border-radius: 10px;
  height: 40px;
  width: 100px;
}

#button-egypt {
  background-color: rgb(216, 31, 31);
  color: yellow;
  border-color: black;
  border-radius: 10px;
  height: 40px;
  width: 100px;
}
